@charset "utf-8";
/* CSS Document */
html{
    background: #fff url(Img/Device/background.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: 102% auto;
    -webkit-background-size: 102% auto;
    -khtml-background-size: cover;
    background-size: cover; 
}

body{
	
	margin:0;
	
}

.user-section-box, .user-section-link-box
{
	margin: 12px 10px 0 10px;
	
	height: 35px;
	float: left;
}

.user-section-link-box {
    margin: 10px 10px 0 10px;
  
}

.user-border-separator {
	margin: 4px 0 0 0;
	width:3px;
	height: 35px;
	float: left;
	
}

.delimmit-light
{
	background-image:  linear-gradient(180deg, #545459 0%, #545459 100%, #545459 100%);
}

.delimmit-dark
{
	background-image:  linear-gradient(180deg, #252526 0%, #252526 100%, #252526 100%);
}



.user-avatar {
	margin: 3px 0 0 4px;
	width: 35px;
	height: 36px;
	background-image: url(Img/Administration/avatar.png);
	display: block;
    float: left;
}

.user-text {
	text-shadow: 0 4px 3.8px rgba(0, 0, 0, 0.35);
	color: white;
	font-family: Constantia;
	font-size: 14px;
	font-weight: 700;
    text-decoration: none;
	cursor: pointer;
}
.user-text:hover {
	color: #eaf13f;
}

.user-head-panel {
	
	height: 44px;
	background-color: #303030;
	background-image: linear-gradient(180deg, #545459 0%, #252526 100%);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.55);
}

.background{
   margin: 0 auto;
   width:1400px;
  
}

div{
	position:relative;
}


.logo{
	margin: 30px 0px 30px 25px;
	background-image:url(img/UserManage/Logo.png);
	width: 150px;
	height: 150px;
	
}


.reg-user-info-bkgrd {

    margin: 5% 15%;
	width: 1364px;
    height: 610px;
    background-image:url(img/UserManage/devbackgrnd.png)
}

 .reg-user-buttons
 {
	color: #000;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 700;
	text-align: center;
	width: 124px;
    height: 25px;
    margin: 5px 0px 10px 5px;
	background-image:url(img/UserManage/Buttons.png);
	border: 1px solid #746D01; 
	cursor:pointer;
 }

.section-bar {
	
    padding-left:15px;
	padding-top:5px;
	height: 35px;
	background-color:rgba(0,0,0,1.00);
    background-image:url(img/UserManage/sectionbar.png)
}

.section-lable-text {
    
	
	color: #C3B81B;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
	text-align:center;
}

.reg-user-info-box {
        
	  height:100px;

}

.reg-user-info-owner-stage {
        
	  height:182px;

}

.reg-user-label {
    color: #F2F2F2;
	margin: 0 10px 0 0;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 700;

}

.reg-user-sections-input{

  font-size:12px;
  font-family: "Arial";
  color: #C3B81D;
  font-weight:700;
  border-style: solid;
  border-width: 3px;
  border-color: #6A6A6A;
  background-color: #292929;
  width: 196px;
  height: 23px;
}

.reg-user-log-output{

  font-size:14px;
  font-family: "Arial";
  color: #C3B81D;
  font-weight:700;
  border-style: solid;
  border-width: 3px;
  border-color: #6A6A6A;
  background-color: #292929;
  width: 1320px;
  height: 400px;
}

.reg-user-sections-select{
  
  font-size:12px;
  font-family: "Arial";
  color: #C3B81D;
  font-weight:700;
  border-style: solid;
  border-width: 3px;
  border-color: #6A6A6A;
  background-color: #292929;
  width: 202px;
  height: 29px;
}

.reg-user-sections-comment{

  border-style: solid;
  border-width: 3px;
  border-color: #6A6A6A;
  background-color: #292929;
  width: 272px;
  height: 99px;
  
}

.reg-user-lable-correction
{
	margin: 18px 10px 0px 10px;
}

.reg-user-input-correction
{
	margin: 10px 0px 0px 0px;
}

.reg-user-header {
   
   	height: 49px;
	background-color: #474747;
	margin:0;

}

.reg-user-header-text{
	margin: 10px 0 0 8px;
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.55);
	color: #9E9E9E;
	font-family: Arial;
	font-size: 24px;
	font-weight: 700;
    position:absolute;	
}

.reg-user-footer
{
	height: 64px;
	background-color: #04243c;
	background-image: linear-gradient(180deg, #3F3F3F 0%, #565555 20%, #161616 100%);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
	clear:both;
}

.register-button, .change-password-button
{
	width: 172px;
	height: 42px;
	margin: 11px 0 0 13px;
	background-color: #1F1D04;
	background-image: linear-gradient(180deg, #C3B81B 0%, #C3B81B 10%, #8E8614 90%);
	border-radius: 10px;
	border: none;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
	color: #1F1D04;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
}

.change-password-button {
    width: 152px;
    height: 35px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.65);
    font-size: 12px;
    margin: 30px 0 0 15px;
}

div#show {
    width:835px;
	height: 81px;
    padding:10px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.90),
	             0 0 10px rgba(0, 0, 0, 0.90),
				 0 0 12px rgba(0, 0, 0, 0.90),
				 0 0 14px rgba(0, 0, 0, 0.90);
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
    
}

div#showactive {
    padding: 0;
    width: 135px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.90),
	             0 0 10px rgba(0, 0, 0, 0.90),
				 0 0 12px rgba(0, 0, 0, 0.90),
				 0 0 14px rgba(0, 0, 0, 0.90);
    font-family: Arial;
	font-size: 16px;
	font-weight: 700;
}

input[type="checkbox"] {
    display:none;
}


input[type="checkbox"] + input[type="hidden"] + label {
    color: #F2F2F2;
	margin: 0 0 0 25px;
	font-family:Arial, sans-serif;
    font-size:14px;
	cursor:pointer;
    
}

input[type="checkbox"] + input[type="hidden"] + label{
    display:inline-block;
    width:100px;
    height:26px;
    padding: 5px 0 0 29px;
    margin: -1px 4px 0 0;
    vertical-align:middle;
    background:url(img/UserManage/checkbox_unchecked.png) left top no-repeat;
    cursor:pointer;
    display: block;
    float: left;
}

input[type="checkbox"]:checked + input[type="hidden"] + label{
    background:url(img/UserManage/checkbox_checked.png) left top no-repeat;
}

.checkbox-lable {
    margin: 0 30px 0 0;
    float: left;
}

.checkbox-position{
	margin: 13px 0 0 0;
	float: left;
}

.field-validation-error {
    color: #b94a48;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 3px solid #b94a48;
}
 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
 
.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}