@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<hgroup class="title">
    <h1 class="error">Профиль отключен!</h1>
    <h2 class="error">Ваш профиль не существует, либо был отключен системным администратором!</h2>
</hgroup>
